node_modules/
secrets.json
client/build/**
build/
Ampd/database/db.js
.DS_Store
Ampd/.DS_Store
Ampd/react-ui/.DS_Store
Ampd/react-ui/src/.DS_Store
R/.DS_Store
R/x86_64-pc-linux-gnu-library/.DS_Store
Ampd/database/db.js
Ampd/.env
Ampd/react-ui/node_modules
.DS_Store
Ampd/.DS_Store
Ampd/react-ui/.DS_Store
Ampd/react-ui/src/.DS_Store
.DS_Store
.DS_Store
Ampd/.DS_Store
Ampd/.DS_Store
.DS_Store
.DS_Store
Ampd/.DS_Store
Ampd/database/db.js
