/*#313D4F is the color of the image text*/
p.header{
  color: #313d4f;

  font-size: 68px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
div.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  align-items: center;
  width: 375px; /* Set to the standard minimum of phone screens*/
}

div.body {
  padding-top: 10px;
}




p {

  font-size: 18px;
  color: #727D8C;
  width: auto;
}



.button{
  margin: 1em;
}
