


table.user-info{

	min-width: 350px;
	max-width: 500px;
	background-color: #F9F2E7;
	border-style: double;
	border-color: #313D4F;
	border-width: 3px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 5px;
	table-layout:auto;

}

tbody.user-info{
	align-items: left;
	padding: 25px;


}


tr{

	margin:auto;

}

td{
	text-align: center;
	padding: 10px;
	font-size: 18px;
	margin:auto;
}

td.label{
	width:auto;
	color: #727d8c;
	padding:5px;
	text-align: right;
}


td.field{
	width:auto;
	padding-left:0px;
	text-align: left;
	color: #EB716E;
}

td.join-butt{
	margin-left: auto;


}

button{
	padding: 5px;

}

#codes div{

	align-items: center;

}


table{


	margin: auto;

}



tbody.user-info{

	padding-left: 5px;

}


#students {
	min-width:350px;
	margin:auto;
	max-width:75%;
	border-style: solid;
	border-color: #313D4F;
	margin-bottom: 1rem;
}

.site-footer
{
  background-color:#f2f2f2;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
	padding: .25em;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#dcd6cc
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

img{
	width: 80%;
}

.adminClasses{
	margin-bottom: 6em;
}
