img.nav-logo{

  height:400px;
}

p.mast{
  color: #313d4f;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 0px;
  margin-bottom: 0x;
  font-stretch: expanded;
}
p.lowmast {
  color: #313d4f;
  padding-top: 0px;
  margin-top: 0px;

  font-size: 10px;

}

.Navbar {
  /*font: 18px arial, sans-serif;*/
  height: 1000px;
  background-color: gray;
}

ul {
  display:block;
  list-style-type: none;
  margin: auto;

}

li {
  margin:auto;
}


li.link {

  display: inline-block;
  padding-left: 7px;

}


.NavbarBrand {
  display: flex;
  align-items: center;
  height: 500px;
  width: auto;

}

.NavbarBrand>img{
  padding: 1px 1px;
}
